<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @playground.banner_url %>');">
  <div class="container">
    <h1><%= @playground.name %></h1>
    <h1><%= @playground.location %></h1>
  </div>
</div>

<div class="pt-30 container">
  <div class="cards">
    <% @playground.events.each do |event| %>
      <%= render "playgrounds/event_card", event: event %>
    <% end %>
  </div>
  <div class="pt-30 row justify-content-center">
    <div class="col-12 col-md-4">
      <h4 class="text-center">Add an event on this playground</h4>
      <%= simple_form_for [ @playground, @event ] do |f| %>
        <%= f.input :name, placeholder: "Give a name to your challenge, game, or tournament" %>
        <%= f.input :date, placeholder: "Type here the date of your event" %>
        <%= f.input :category, placeholder: "Tournament, Game, Training,Dunk Contest, 3pts Challenges?" %>
        <%= f.input :price, placeholder: "Price to participate" %>
        <%= f.input :reward, placeholder: "Let's talk about the reward..." %>
        <%= f.input :image_url, placeholder: "https://some_nice_image_found_on_google.jpg" %>
        <div class="form-actions">
          <%= f.submit "Add", class: "btn btn-flat" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
